{{>header}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Proclama profesica para 2021</h1>
        <p><strong>Isaías 58:8 LBLA</strong> <br>
            Entonces tu luz despuntará como la aurora, y tu recuperación brotará con rapidez; delante de ti irá tu
            justicia; y la gloria del Señor será tu retaguardia.</p>
    </div>

    <div class="col-7">
        <img src="/assets/img/2021.jpg" alt="Img proclama" class="img-thubnail">
    </div>

</div>

{{>footer}}